<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" href="/bower_components/angular/angular.min.js"></script>
</head>

<body>

<div class="container">
	<h1>YouTube Videos</h1>
	<hr>
	<ul>
		<% for (var i=0; i < content.length; i++) { %>
		<li>
			<p><%= content[i].snippet.title %></p>
			<p><%= content[i].id.videoId %></p>
			<p><%- link_to('Video Link', 'https://www.youtube.com/watch?v='+content[i].id.videoId)%></p>
			<p>****REAL CONTENT TESTING***</p>
			<p><%= real_content[i].items[0].id %></p>
			<p><%= real_content[i].items[0].statistics.viewCount %></p>
		</li>
		<% } %>
	</ul>
</div>

<script type="text/javascript" src ="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components\bootstrap\dist\js
\bootstrap.min.js"></script>
</body>
</html>